<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Zip Zap Post</ion-title>
    <ion-button class="logout-button" (click)="signOut()" slot="end">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h2>Welcome, {{ firstName | async }} {{ lastName | async }}!</h2>
  
  <ion-list>
    <ion-button (click)="openSendMailModal()" size="large" expand="full" color="primary">
      SEND MAIL
    </ion-button>
    @if(hasPendingMail) {
      <ion-item>
        <ion-label>
          You have a mail on the way!
        </ion-label>
      </ion-item>
      <ion-button (click)="openIncomingOrdersModal()" size="medium" expand="full" color="primary">
        Check incoming mail
      </ion-button>
    }
  </ion-list>

  <modal-send-mail></modal-send-mail>
  <modal-incoming-orders></modal-incoming-orders>
</ion-content>