<ion-header>
  <ion-toolbar>
    <ion-title>My Dashboard</ion-title>
    <ion-button class="logout-button" (click)="signOut()" slot="end">Logout</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>
                <h2>Welcome {{ firstName | async }} {{ lastName | async }}</h2>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-button id="open-modal" expand="block" (click)="onWillPresent()">Set up your address</ion-button>
    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Address Setup</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-nav #nav></ion-nav>
        </ion-content>
      </ng-template>
    </ion-modal>
</ion-content>