
<ion-content class="ion-padding">
  <ion-button (click)="getLocation()" [disabled]="isSaving">
    {{ isSaving ? 'Saving...' : 'Get Location' }}
  </ion-button>
  
  @if (position) {
    <div>
      <ion-label>Latitude: {{ position.latitude }}</ion-label>
      <ion-label>Longitude: {{ position.longitude }}</ion-label>
      <ion-label>Accuracy: {{ position.accuracy }}</ion-label>
    </div>
  }

  <ion-button (click)="navigateToPageTwo()">Continue</ion-button>
  
  <ion-toast
    [isOpen]="showToast"
    message="{{ toastMessage }}"
    [duration]="3000"
    (didDismiss)="showToast = false"
  ></ion-toast>
</ion-content>