<ion-content class="ion-padding">
  <h1>Take a Picture</h1>
  <ion-button (click)="takePicture()">Take Picture</ion-button>
  
  @if (imgSrc) {
    <ion-img [src]="imgSrc" style="width: 100%; height: auto;"></ion-img>
    <ion-button (click)="uploadImage()" [disabled]="isUploading">
      {{ isUploading ? 'Uploading...' : 'Upload Image' }}
    </ion-button>
  }
  
  <ion-toast
    [isOpen]="showToast"
    message="{{ toastMessage }}"
    [duration]="3000"
    (didDismiss)="showToast = false"
  ></ion-toast>
</ion-content>
